<html ng-app="TestApp">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The MEAN Stack</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
</head>
<body ng-controller="MainController as vm">
    <ul>
        <li ng-repeat="person in vm.people">
            {{ person.name }}
        </li>
    </ul>    
    <script>
        const clientPeople = <%- JSON.stringify(serverPeople) %>;
    </script>
    <script src="assets/js/app.js"></script>
</body>
</html>